@font-face {
	font-family: sans-serif-custom;
	src: url(./fonts/San-Francisco-Pro-Fonts/SF-Pro-Text-Ultralight.otf);
}

body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: white;
	overflow: hidden;
}
.stopwatchBody {
	display: flex;
	height: clamp(500px, 766px, 100vh);
	width: clamp(200px, 390px, 100vw);
	border: 1px solid black;
	border-radius: 1rem;
	flex-direction: column;
	background-color: black;
}
